{% extends "layout.njk" %}

{% block content %}

<div class="card">
    <section 
        class="avatar" 
        style="background: url(https://scontent.fbel1-1.fna.fbcdn.net/v/t1.6435-9/116909698_3343232045744420_579615553434240624_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=09cbfe&_nc_eui2=AeECB5T7AO4aTnsfQgNeXfGk6vazQBBraDfq9rNAEGtoN_WCqoFru0vnfEBL2_FDt32o9FFq1dtnwUr9c2eGZm3M&_nc_ohc=DjrEGkpjuYEAX_CIrwy&_nc_ht=scontent.fbel1-1.fna&oh=73ddb6318f242d8d3496be86207dbb14&oe=60D1F474) center center / cover">
    </section>
    <section class="detalhes">

        <h3>Detalhes</h3>

        <div class="item">
            <div>Instrutores</div>
            <div>Victor Serrão</div>
        </div>

        <div class="item">
            <div>Idade</div>
            <div>29</div>
        </div>

        <div class="item">
            <div>Sexo</div>
            <div>Masculino</div>
        </div>

        <div class="item">
            <div>Acompanhamento</div>
            <div>
                <span>Musculação</span>
                <span>Crossfit</span>
            </div>
        </div>

        <div class="item">
            <div>Desde</div>
            <div>01/01/2010</div>
        </div>

    </section>

</div>

{% endblock content %}